{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <h1>City index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>PopulationNumber</th>
                <th>Departement</th>
                <th>Code dpt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set i=1 %}    
        {% for city in cities | sort((a, b) => a.name <=> b.name)%}
            <tr>
                <td>{{ i }} </td>
                <td>{{ city.name }}</td>
                <td>{{ city.populationNumber }}</td>
                <td>{{ city.department }}</td>
                <td>{{ city.department.code }}</td>
                <td>{{ city.department.country }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_back_city_show', {'id': city.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_back_city_edit', {'id': city.id}) }}">edit</a>
                </td>
            </tr>
        {% set i = i+1 %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_back_city_new') }}">Create new</a>
{% endblock %}
