<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
         
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid"> 
              <a class="navbar-brand" href="{{ path('app_back_index') }}">City API</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                {% if (app.user.roles is defined) and ('ROLE_USER'  in app.user.roles) %}   
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('back_country_index') }}">Countries</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('back_department_index') }}">Departments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_back_city_index') }}">Cities</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Routes
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ path('app_countries') }}">Pays</a></li>
                      <li><a class="dropdown-item" href="{{ path('app_departments') }}">Départements</a></li>
                      <li><a class="dropdown-item" href="{{ path('app_cities') }}">Villes</a></li>
                    </ul>
                  </li>


                  
                {% endif %}  
                </ul>
                <form class="d-flex" role="search" name="search" method="post">
                  <input name="search-input" class="form-control me-2" type="search" placeholder="search" aria-label="Search" {% if (value is defined) and (value != "")  %} value="{{ value }}" {% endif %} %}  >
                  <button class="btn btn-outline-success" name="search-submit" type="submit">Search</button>
                  <button class="btn btn-outline-primary" name="search-reinit" type="submit">Réinitialiser</button>
                </form>
              </div>
            </div>
        </nav>


            

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>    
    </body>
</html>
