{% if (app.user.roles is defined) and ('ROLE_USER'  in app.user.roles) %} 
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid"> 
      <a class="navbar-brand" href="{{ path('app_back_index') }}">Accueil Back-office</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('back_country_index') }}">Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('back_department_index') }}">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_back_city_index') }}">Cities</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Routes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ path('app_back_endpoint_category_index') }}">Catégories de Endpoints</a></li>
              <li><a class="dropdown-item" href="{{ path('app_back_endpoint_index') }}">Endpoints</a></li>
              <li><a class="dropdown-item" href="{{ path('app_departments') }}">Départements</a></li>
              <li><a class="dropdown-item" href="{{ path('app_cities') }}">Villes</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" name="search" method="post">
          <input name="search-input" class="form-control me-2" type="search" placeholder="search" aria-label="Search" {% if (value is defined) and (value != "")  %} value="{{ value }}" {% endif %} %}  >
          <button class="btn btn-outline-success" name="search-submit" type="submit">Search</button>
          <button class="btn btn-outline-primary" name="search-reinit" type="submit">Réinitialiser</button>
        </form>
      </div>
    </div>
</nav>
{% endif %}